* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: coral;
}

p {
    text-align: right;
}

.music > h3 {
    color: green;
}

.music > dl {
    border: 2px solid black;
    font-weight: bold;
}

.music #firstItem {
    text-decoration: underline;
    font-style: italic;
}

.movies > h3 {
    color: crimson;
}

.movies > dl {
    border: 2px dotted coral;
    font-weight: bold;
}

.movies #firstItem {
    text-decoration: underline lightseagreen;
    font-weight: lighter;
}
