* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: coral;
}

p {
    text-align: right;
}

.music > h3 {
    color: green;
}

.music > dl {
    border: 2px solid black;
    font-weight: bold;
}

.music #firstItem {
    text-decoration: underline;
    font-style: italic;
}

.books > h3 {
    color: cadetblue;
}

.books > dl {
    border: 2px solid grey;
    font-weight: bold;
}

.books #firstItem {
    text-decoration: underline blueviolet;
    font-weight: bolder;
}
